bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
ECommerceApp.Infrastructure/Migrations/20250525192819_InitialCreate.cs
*.cs
/.idea
DDDStore.sln.DotSettings.user
DDDStore.sln.DotSettings.user
/.appsettings.json
ECommerceApp.Api/appsettings.json
